@model IEnumerable<VIDEO_CLUB.GENERO>

@{
    ViewBag.Title = "Index";
}

<h2>Generos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GEN_NOMBRE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GEN_NOMBRE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GEN_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.GEN_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GEN_ID })
        </td>
    </tr>
}

</table>
