@model VIDEO_CLUB.ALQUILER

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ALQUILER</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ALQ_FECHA_DESDE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ALQ_FECHA_DESDE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ALQ_FECHA_HASTA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ALQ_FECHA_HASTA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ALQ_VALOR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ALQ_VALOR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ALQ_FECHA_ENTREGA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ALQ_FECHA_ENTREGA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PELICULA.PEL_NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PELICULA.PEL_NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SOCIO.SOC_CEDULA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOCIO.SOC_CEDULA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ALQ_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
