@model ClubDeVideo.Models.Pelicula
@{
    ViewBag.Title = "Mostrar";
}

<h2>Película @Model.Nombre</h2>
<br />

<table class="table table-striped">
    <tr>
        <th>ID</th>
        <td>@Model.id</td>
    </tr>
    <tr>
        <th>Nombre</th>
        <td>@Model.Nombre</td>
    </tr>
    <tr>
        <th>Genero</th>
        <td>@Model.Genero</td>
    </tr>
    <tr>
        <th>Precio</th>
        <td>@Model.Precio</td>
    </tr>

</table>
<br />


<div class="btn btn-primary  navbar-inverse btn-lg">
        @Html.ActionLink("Añadir nuevo ", "Leer", "Club")
    
</div>
