@model AutosDataAnnotation.cliente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cli_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cli_nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cli_fecha_nacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cli_fecha_nacimiento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cli_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
