@model IEnumerable<AutosDataAnnotation.cliente>

@{
    ViewBag.Title = "Clientes";
}

<h2>Clientes</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cli_nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cli_fecha_nacimiento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cli_nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cli_fecha_nacimiento)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.cli_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.cli_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.cli_id })
        </td>
    </tr>
}

</table>
