@model IEnumerable<ejercicioCincoPlantillasMVC.Libro>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.lib_nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lib_precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lib_isbn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.lib_nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lib_precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lib_isbn)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.lib_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.lib_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.lib_id })
        </td>
    </tr>
}

</table>
