@model Ecuaciones.Models.evaluacion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>evaluacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ecuacion.idecuacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ecuacion.idecuacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idevaluacion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
