<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PRIMIUM CINEMA</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
   
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#a80505;border-color:white;text-emphasis-color:white;text-decoration-color:aliceblue">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("PREMIUM CINEMA", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse right pull-right">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Clientes", "Index", "SOCIOs")</li>
                    <li>
                        <span class="glyphicon glyphicon-user"></span>
                    </li>
                    <li>@Html.ActionLink("Películas", "Index", "PELICULAs")</li>
                    <li>
                        <span class="glyphicon glyphicon-film"></span>
                    </li>
                    <li>@Html.ActionLink("Actores", "Index", "ACTORs")</li>
                    <li>
                        <span class="glyphicon glyphicon-star"></span>
                    </li>
                    <li>@Html.ActionLink("Configuarciones", "Config", "Home")</li>
                    <li>
                        <span class="glyphicon glyphicon-cog"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer >
            <p> DESARROLLADO POR JOHNNY VILLACIS    -   &copy; @DateTime.Now.Year </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
